{% extends 'base.html' %}
{% load static %}
{% block menu_servicos %}active{% endblock %}
{% block content %}
{% load humanize %}


        <div class="section">
	    	<div class="container">
				<div class="row">
					<!-- Image Column -->
					<div class="col-sm-6">
						<div class="portfolio-item">
							<div class="portfolio-image">
								<a href="#"><img src="{{produto.imagem.url}}" alt="Project Name"></a>
							</div>
						</div>
					</div>
					<!-- End Image Column -->
					<!-- Project Info Column -->
					<div class="portfolio-item-description col-sm-6">
						<h3>{{produto.nm_produto}}</h3>                        
						<div class="d-flex flex-row align-items-center">
                            <div class="p-ratings"> 
                                <i class="fa fa-star"></i> 
                                <i class="fa fa-star"></i> 
                                <i class="fa fa-star"></i> 
                                <i class="fa fa-star"></i> 
                            </div>
                        </div>
						
                        <br />

						<p><strong>Descrição</strong></p>
						<p>
							{{produto.dc_produto}}

						</p>
                        <h3>R$ {{produto.vl_produto|floatformat:2}}</h3>
						<br>
						<h4>Anunciante: {{produto.usuario}}</h4>

                        
                            <h5>	<a href="/anunciante_produtos/{{produto.usuario}}">ver outros produtos deste anunciante</a></h5>
						

						<strong>Contato(s):

                         
                            {% for contato in contatos %}
                           
                            {% ifequal contato.tp_contato "Telefone" %}        
                               <br> <i class="fas fa-phone fa-2x"></i> 
                            {% endifequal %}
                 
                            {% ifequal contato.tp_contato "WhatsApp" %}        
                               <br>
                                <button class="btn" onclick="enviarMensagem({{contato.tx_contato}},'Olá, Tudo bem?\nEstou interessando no produto:\n*{{produto.nm_produto}}*\n{{produto.dc_produto}}')">
                                    <i class="fab fa-whatsapp fa-2x"></i>
                                    
                                </button>
                            {% endifequal %}

                            {% ifequal contato.tp_contato "Telegram" %}        
                               <br> <i class="fab fa-telegram fa-2x"></i> 
                            {% endifequal %}

                            {% ifequal contato.tp_contato "E-Mail" %}        
                               <br> <i class="fas fa-envelope fa-2x"></i> 
                            {% endifequal %}

                            {% ifequal contato.tp_contato "Instagram" %}        
                            <br> <i class="fab fa-instagram fa-2x"></i> 
                            {% endifequal %}

                            {% ifequal contato.tp_contato "Facebook" %}        
                            <br> <i class="fab fa-facebook fa-2x"></i> 
                            {% endifequal %}

                            {% ifequal contato.tp_contato "Twitter" %}        
                            <br> <i class="fab fa-twitter fa-2x"></i> 
                            {% endifequal %}

                           {{contato.tx_contato}}

                           {% endfor %}

					</div>
                </div>
            </div>
        </div>

{% endblock %}

