{% extends 'base.html' %}
{% load static %}
{% block menu_servicos %}active{% endblock %}
{% block content %}

        <div class="section">
	    	<div class="container">
				<div class="row">
					<!-- Image Column -->
					<div class="col-sm-6">
						<div class="portfolio-item">
							<div class="portfolio-image">
								<a href="#"><img src="{% static 'img/portfolio2.jpg' %}" alt="Project Name"></a>
							</div>
						</div>
					</div>
					<!-- End Image Column -->
					<!-- Project Info Column -->
					<div class="portfolio-item-description col-sm-6">
						<h3>Ana Maria - Estética Beleza e Bem Estar</h3>                        
						<div class="d-flex flex-row align-items-center">
                            <div class="p-ratings"> 
                                <i class="fa fa-star"></i> 
                                <i class="fa fa-star"></i> 
                                <i class="fa fa-star"></i> 
                                <i class="fa fa-star"></i> 
                            </div>
                        </div>
						
                        <br />

						<p><strong>Descrição</strong></p>
						<p>
							Somos especialistas em diversos tipos de tratamentos estéticos. Tratamento facial: clareamento de manchas, desincruste, hidratação, lifting, limpeza, revitalização e nutrição facial, peeling diamantado, tratamento de acne. Tratamento corporal: cintura fina, crioterapia, termoterapia, drenagem linfática, gordura zero. Massagens modeladora e relaxante. Depilação Completa. Terapia Reiki.
						</p>
						<ul class="no-list-style">
							<li><b>Contatos:</b> (11) 88889-99999</li>
							<li><b>Categoria:</b> Beleza</li>
							<br />
							<li>
								<i class="fab fa-instagram fa-2x"></i> 
								<i class="fab fa-facebook fa-2x"></i> 
								<i class="fab fa-pinterest fa-2x"></i> 
								<i class="fab fa-whatsapp fa-2x"></i> 
								<i class="fab fa-twitter fa-2x"></i>
							</li>		
						</ul>
					</div>
                </div>
            </div>
        </div>

{% endblock %}
