{% extends 'base.html' %}
{% load static %}
{% block title %}Flex Mogi - Anúncios{% endblock %}

{% block content %}

        <div class="section">
	    	<div class="container">
				<h2>Fale Conosco</h2>     
	        	<div class="row">
	        		<div class="col-sm-12">
	        			<!-- Contact Form -->
	        			<div class="contact-form-wrapper">
		        			<form class="form-horizontal" role="form">
		        				 <div class="form-group">
		        				 	<label for="Name" class="col-sm-2 control-label"><b>Your name</b></label>
		        				 	<div class="col-sm-10">
										<input class="form-control" id="Name" type="text" placeholder="">
									</div>
								</div>
								<div class="form-group">
									<label for="contact-email" class="col-sm-2 control-label"><b>Your Email</b></label>
									<div class="col-sm-10">
										<input class="form-control" id="contact-email" type="text" placeholder="">
									</div>
								</div>
								<div class="form-group">
									<label for="contact-message" class="col-sm-2 control-label"><b>Select Topic</b></label>
									<div class="col-sm-10">
										<select class="form-control" id="prependedInput">
											<option>Please select topic...</option>
											<option>General</option>
											<option>Services</option>
											<option>Orders</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label for="contact-message" class="col-sm-2 control-label"><b>Message</b></label>
									<div class="col-sm-10">
										<textarea class="form-control" rows="5" id="contact-message"></textarea>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-12">
										<button type="submit" class="btn pull-right">Send</button>
									</div>
								</div>
		        			</form>
		        		</div>
		        		<!-- End Contact Info -->
	        		</div>
	        	</div>
	    	</div>
	    </div>

{% endblock %}
