{% extends 'base.html' %}
{% load static %}
{% block title %}Flex Mogi - Anúncios{% endblock %}

{% block content %}

		<!-- Services -->
        <div class="section">
	        <div class="container">
	        	<div class="row">
	        		<div class="col-md-6 col-sm-6">
	        			<div class="service-wrapper">
		        			<a href="/produtos/"><img src="{% static 'img/service-icon/box.png' %}" alt="Service 3">
		        			<h3>Produtos</h3></a>
		        			<p>Entre aqui e encontre celulares, móveis, eletrodoméstivos, computadores e outros objetos novos ou usados que seu vizinho quer desapegar.</p>
		        		</div>
	        		</div>
	        		<div class="col-md-6 col-sm-6">
	        			<div class="service-wrapper">
		        			<a href="/servicos/"><img src="{% static 'img/service-icon/ruler.png' %}" alt="Service 2">
		        			<h3>Prestadores de Serviço</h3></a>
		        			<p>Precisando de ajuda? Encontre aqui um vizinho perito em obras, serviços domésticos, manutenção de eletrodomésticos entre outros profissionais.</p>
		        		</div>
	        		</div>
	        	</div>
	        </div>
	    </div>
	    <!-- End Services -->

{% endblock %}
